<div class="space-y-6 mt-5 ml-3">

  <div class="w-full">
    <div class="flex flex-col border border-gray-300 rounded-lg shadow-lg mb-2">
      <div class="p-3">
        <h4 class="mb-2 text-lg font-semibold">Seleccione Ciudad</h4>
        <mat-form-field class="w-full">
          <mat-label>Seleccione...</mat-label>
          <mat-select class="w-full h-5" (selectionChange)="onCitySelectionChange($event.value)">
            <mat-option>Seleccione...</mat-option>
            <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad">
              {{ ciudad }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="w-full">
    <div class="flex flex-col border border-gray-300 rounded-lg shadow-lg mb-2">
      <div class="p-3">
        <h4 class="mb-2 text-lg font-semibold">Seleccione Hotel</h4>
        <mat-form-field class="w-full">
          <mat-label>Seleccione...</mat-label>
          <mat-select class="w-full h-5" (selectionChange)="onHotelSelectionChange($event.value)">
            <mat-option>Seleccione...</mat-option>
            <mat-option *ngFor="let hotel of hotels" [value]="hotel.id">
              {{ hotel.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
