<div class="m-5">
  <app-slider [autoSlide]="true" [images]="imagesrooms"></app-slider>
</div>
<mat-card class="p-6">
  <mat-card-title class="custom-mat-card-title mb-2">
    <span class="pl-4">Lista de Habitaciones</span>
    <button class="bg-custom-blue hover:bg-custom-blue-lighter text-white font-bold py-2 px-6 rounded-lg"
      type="button" (click)="openDialog()">
      <mat-icon class="mr-2 pt-1">add</mat-icon>
      Crear Habitacion
    </button>
  </mat-card-title>
</mat-card>

<section class="flex flex-col lg:flex-row h-full mt-6">
  <section class="lg:w-3/12">
    <app-filters-rooms></app-filters-rooms>
  </section>
  <section class="lg:w-9/12">
    <div *ngIf="rooms && rooms.length > 0">
      <app-cards-rooms *ngFor="let room of rooms" [room]="room" class="fade-in-up"></app-cards-rooms>
    </div>
    <div *ngIf="!rooms || rooms.length === 0">
      <app-no-data></app-no-data>
    </div>

  </section>
</section>
