<div class="header-container">
  <mat-toolbar class="elements">
    <mat-toolbar-row class="header-row">
      <div class="logo-container">
        <img src="/assets/images/logo1.jpg" alt="logo" class="rounded-image" />
      </div>
      <span class="flex-auto"></span>
      <button mat-icon-button routerLink="/" class="logout-button">
        <mat-icon class="logout-icon">logout</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div class="banner-container">
  <img src="/assets/images/banner.jpg" alt="logo" class="w-full " />
</div>
