.rounded-image {
  border: 2px solid #005f71;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.styleimg {
  text-align: -webkit-center;
}

.elements{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #005f71;

}
.header-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-row {
  display: flex;
  align-items: center;
}

.logo-container {
  margin-right: 20px;
}

.logout-button {
  color: #f3eeee;
}


.banner-container {
  max-height: 300px; /* Ajusta la altura máxima según tus necesidades */
  overflow: hidden; /* Oculta el contenido que sobresale del contenedor */
}

.banner-container img {
  width: 100%;
  height: 1200px;
  object-fit: cover;
  margin-top: -560px;
}
